---
layout: default
---

<header class="headline">
  <h1>Title and stuff and shit omg plz write more, another line this is so good yes input more text sempai</h1>
</header>

<section class="posts">
  <section class="card">
    <header class="card_title">
      <h2>websites</h2>
    </header>
    <div class="action">
      <i class="fa fa-plus"></i>
      <div class="action_content">
        {% for post in site.categories.Websites %}
          <a href="{{ post.url }}" title="{{ post.title }}" class="post">
            <div class="post_image" style="background-image: url('{{ post.thumbnail }}')">
              <span class="post_image_border"><span class="post_image_text">read more</span></span>
            </div>
            <div class="post_text">
              <h4 class="post_title">{{ post.title }}</h4>
              {{ post.excerpt }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <article class="card_content">
      <h3>Subtitle</h3>
      <p class="description">Some content about all the websites I've made stuffs and shit Some content about all the websites I've made stuffs and shit. Some content about all the websites I've made stuffs and shit Some content about all the websites I've made stuffs and shit</p>
    </article>
  </section>

  <section class="card">
    <header class="card_title">
      <h2>lab</h2>
    </header>
    <div class="action">
      <i class="fa fa-plus"></i>
      <div class="action_content">
        {% for post in site.categories.Lab %}
          <a href="{{ post.url }}" title="{{ post.title }}" class="post">
            <div class="post_image" style="background-image: url('{{ post.thumbnail }}')">
              <span class="post_image_border"><span class="post_image_text">read more</span></span>
            </div>
            <div class="post_text">
              <h4 class="post_title">{{ post.title }}</h4>
              {{ post.excerpt }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <article class="card_content">
      <h3>Subtitle</h3>
      <p class="description">Some content about all the websites I've made stuffs and shit Some content about all the websites I've made stuffs and shit</p>
    </article>
  </section>

  <section class="card">
    <header class="card_title">
      <h2>about</h2>
    </header>
    <div class="action">
      <i class="fa fa-plus"></i>
      <div class="action_content">
        {% for post in site.categories.About %}
          <a href="{{ post.url }}" title="{{ post.title }}" class="post">
            <div class="post_image" style="background-image: url('{{ post.thumbnail }}')">
              <span class="post_image_border"><span class="post_image_text">read more</span></span>
            </div>
            <div class="post_text">
              <h4 class="post_title">{{ post.title }}</h4>
              {{ post.excerpt }}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <article class="card_content">
      <h3>Subtitle</h3>
      <p class="description">Some content about all the websites I've made stuffs and shit Some content about all the websites I've made stuffs and shit</p>
    </article>
  </section>
</section>