.card {
	position: relative;
	display: flex;
	flex: 1 1 30%;
	flex-direction: column;
	max-width: 300px;
	box-shadow: $shadow;
	border-radius: 2px;
	background: $white;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.02);

		h2:after {
			width: 80%;
		}
	}

	&.active {
		.action {
			animation: .4s ease-in-out 0s curve;
		}

		.fa {
			opacity: 0;
		}
	}

	&_title {
		position: relative;
		min-height: 150px;
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		color: $white;
		transition: all 0.3s ease-in-out;
		background: url('/img/material.png');
		background-size: contain;

		h2 {
			position: absolute;
			bottom: 10px;
			left: 20px;
			right: 0;
			font-weight: 700;

			&:after {
				content: "";
				display: block;
				width: 20%;
				border-bottom: 2px solid $white;
				transition: all 0.3s ease-in-out;
			}
		}
	}

	&_content {
		display: flex;
		flex: 1;
		flex-direction: column;
		@include remToPx(padding, 2rem);
	}

}