[class*="card-"] {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	color: $white;
	z-index: 10;

	&.active {
		position: initial;

		> .card_container {
			box-shadow: inset 0 0 8px $black;

			> .card_title {
				display: none;
			}
		}
	}

	&.disabled {
		z-index: 1;
	}
}

[data-element*="-child"] {
	.card_title {
		background: inherit;
	}
}


.card {

	&-blue {
		background: $blue;

		.card_cover {
			background: darken($blue, 10%);
		}

		&:hover {
			.card_cover {
				transform: translate3d(-$translate, -$translate, 0);
			}
		}

		&.active {
			.card_cover {
				transform: translate3d(-$translate-full, -$translate-full, 0);
			}
		}

		&-light {
			background: lighten($blue, 10%);
		}

		&-lighter {
			background: lighten($blue, 20%);
		}

		&-dark {
			background: darken($blue, 10%);
		}

		&-darker {
			background: darken($blue, 20%);
		}
	}

	&-orange {
		background: $orange;

		.card_cover {
			background: darken($orange, 10%);
		}

		&:hover {
			.card_cover {
				transform: translate3d($translate, (-$translate), 0);
			}
		}

		&.active {
			.card_cover {
				transform: translate3d($translate-full, (-$translate-full), 0);
			}
		}

		&-light {
			background: lighten($orange, 10%);
		}

		&-lighter {
			background: lighten($orange, 20%);
		}

		&-dark {
			background: darken($orange, 10%);
		}

		&-darker {
			background: darken($orange, 20%);
		}
	}

	&-green {
		background: $green;

		.card_cover {
			background: darken($green, 10%);
		}

		&:hover {
			.card_cover {
				transform: translate3d($translate, $translate, 0);
			}
		}

		&.active {
			.card_cover {
				transform: translate3d($translate-full, $translate-full, 0);
			}
		}

		&-light {
			background: lighten($green, 10%);
		}

		&-lighter {
			background: lighten($green, 20%);
		}

		&-dark {
			background: darken($green, 10%);
		}

		&-darker {
			background: darken($green, 20%);
		}
	}

	&-yellow {
		background: $yellow;

		.card_cover {
			background: darken($yellow, 10%);
		}

		&:hover {
			.card_cover {
				transform: translate3d((-$translate), $translate, 0);
			}
		}

		&.active {
			.card_cover {
				transform: translate3d((-$translate-full), $translate-full, 0);
			}
		}

		&-light {
			background: lighten($yellow, 10%);
		}

		&-lighter {
			background: lighten($yellow, 20%);
		}

		&-dark {
			background: darken($yellow, 10%);
		}

		&-darker {
			background: darken($yellow, 20%);
		}
	}

	&_container {
		display: flex;
		@extend %absolute;
		@include remToPx(padding, 2rem);
		z-index: 10;
		background: inherit;
		cursor: pointer;
	}

	&_cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 20;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
	}

	&_title {
		display: flex;
		justify-content: center;
		flex-direction: column;
		@extend %absolute;
		z-index: 30;
		text-align: center;

		h2 {
			@include font-size(22);
		}

		h3 {
			@include font-size(20);
		}
	}

	&_content {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&_website {

	}

}