.navigation {
	max-width: $max-width;
	margin: 0 auto;
	justify-content: space-between;
	
	.social {
		@include remToPx(margin-left, 2rem);
		text-align: center;
		@include font-size(18);

		&:first-child {
			margin-left: 0;
		}
	}
	
}