#theChosenOne {
	@include remToPx(margin-top, 4rem);
	z-index: 20;

	.detail {
		background: $white;
		box-shadow: $shadow;

		&_image {
			position: relative;
			min-height: 200px;
			border-bottom: 1px solid darken($grey, 20%);
			background-size: cover;

			&:after {
				content: '';
				@extend %absolute;
				box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
				z-index: 2;
			}

			&:hover {
				a {
					opacity: 1;
				}
			}

			a {
				@extend %absolute;
				color: $white;
				@include font-size(40);
				line-height: 200px;
				text-align: center;
				opacity: 0;
				z-index: 10;
				background: rgba(0, 0, 0, 0.6);
				transition: opacity 0.3s ease-in-out;
			}

			.fa {
				@include font-size(30);
				@include remToPx(margin-right, 1rem);
			}
		}

		&_header, &_content {
			@include remToPx(padding, 0 2rem);
		}

		&_header {
			@include remToPx(margin, 2rem 0);
			@include font-size(16);

			a {
				color: darken($blue, 20%);
			}

			time {
				@include remToPx(margin-left, 1rem);
				color: darken($grey, 50%);
			}

			h1 {
				@include font-size(30);
				line-height: 36px;
				font-weight: 700;
			}
		}

		&_content {
			@include remToPx(padding-bottom, 2rem);

			h2 {
				@include remToPx(margin-bottom, 1rem);
				@include font-size(18);
			}

			p:not(:last-child) {
				@include remToPx(margin-bottom, 1rem);
			}
		}

		&_footer {
			@include remToPx(margin, 0 2rem);
			@include remToPx(padding, 1rem 0 2rem 0);
			border-top: 1px solid darken($grey, 20%);

			&_author {
				@include remToPx(margin-top, 2rem);

				&_thumbnail {
					display: inline-block;
					@include size(30px, 30px);
					@include remToPx(margin-right, .5rem);
					vertical-align: middle;
					background-size: cover;
					border-radius: 50%;
				}
			}
		}
	}

	.action_page {
		@extend .action;
		z-index: 20 !important;
		overflow: hidden;

		&.active {
			color: $red;
			background: $white;
			
			.fa:before {
				content: "\f00d";
			}
		}

		&_content {
			position: absolute;
			right: 2rem;
			@include size(5rem, 6rem);
			@include remToPx(margin-top, -2.5rem);
			@include remToPx(padding-top, .5rem);
			overflow: hidden;
			transition: width 0.3s ease-in-out;

			&.active {
				width: 280px;

				.social {
					opacity: 1;
					@include remToPx(margin-left, 1rem);
				}
			}

			.social {
				opacity: 0;

				.fa {
					@include font-size(18);
				}
			}
		}
	}

}