/////////////////////////////////////////////////// LBC VARIABLES / ADD WHAT YOU NEED
//!\\ Naming : 
///// - US english words : 'color' not 'colour', 'gray' not 'grey' ;
///// - no capitals in HEX colors.

// colors
$blue:					#30C9E8;
$red: 					#FF4431;

$grey: 					#F7F8FA;
$black:             	#3B4A4D;
$white:					#ffffff;

// layout width
$min-width 				: 320px; // min width of the website
$max-width           	: 1140px; // max width of the website


/////////////////////////////////////////////////// KNACSS VARIBALES / DO NOT TOUCH


// font sizes
$base-font-size : 13px; // if "14px" then 1em = 14px
$line-height    : 1.5;
$h1-size        : 2.4rem;
$h2-size        : 2.4rem;
$h3-size        : 1.5rem;
$h4-size        : 1.2rem;
$h5-size        : 1.0rem;
$h6-size        : 0.9rem;


// font stacks
$font-stack-common    : 'Lato', sans-serif;


// font colors
$base-color             : $white; // text color on body and content
$primary-color          : $black; // text color on primary elements
$secondary-color        : $black; // text color on secondary elements
$headings-color         : $black; // text color on headings
$base-color-link        : $white; // base links color
$base-color-link-hover  : $black; // base hovered/focused links color


// breakpoints (choose unit you prefer)
$tiny-screen            : 480px; // tiny screens media query (less than 480px)
$small-screen           : 768px; // screens between 481px and 768px
$medium-screen          : 1024px; // screens between 769px and 1024px
$large-screen           : 1280px; // screens between 1025px and 1280px
$extra-large-screen     : 1600px; // screens between 1281px and 1600px
$ultra-large-screen     : 1920px; // ultra large screens