.flex {
	display: flex;
	flex: 1;
}

.flex-zero {
	display: flex;
	flex: 0;
}

.column {
	position: relative;
	display: flex;
	flex: 1 100%;
	flex-direction: column;
}

.row {
	position: relative;
	display: flex;
	flex: 1 100%;
	flex-direction: row;
}

.hidden {
	display: none;
}

.social {
	position: relative;
	@include size(4rem, 4rem);
	color: $white;
	background: $white;
	border-radius: 50%;
	z-index: 10;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 2px 4px rgba(0,0,0, 0.12), 0 2px 4px rgba(0,0,0, 0.24);

	&:after {
		content: '';
		pointer-events: none;
		position: absolute;
		@include size();
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 50%;
		box-shadow: inset 0 0 0 50px $red;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		color: $red;

		&:after {
			box-shadow: inset 0 0 0 2px $red;
		}
	}

	.fa {
		line-height: 40px !important;
	}
}

/* hidden but not for assistance tools, Yahoo! method */
.visually-hidden {
    position: absolute !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}