body {
	color: $black;
	background: $grey;
	overflow: hidden;
	min-height: 100vh;
	overflow-y: auto;
	font-weight: 400;
}

.separator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 400px;
	background: $blue;
	box-shadow: $shadow;
}

.container {
	display: flex;
	flex: 1;
	max-width: $max-width;
	margin: 0 auto;
	flex-direction: column;
}

.headline {
	display: flex;
	flex: 0;
	text-align: center;
	justify-content: center;
	@include remToPx(padding, 6rem 0);
	z-index: 10;

	h1 {
		@include font-size(36);
	}
}

.posts {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

h3, h4 {
	color: darken($grey, 50%);
	@include remToPx(margin-bottom, 1rem);
	@include font-size(16);
	transition: color 0.3s ease-in;
}

a {
	&:visited, &:active, &:focus {
		color: darken($blue, 20%);
	}
}