body {
	color: $white;
	background: $black;
	overflow: hidden;
}

#main {
	flex-wrap: wrap;
	align-items: stretch;
}

button,
.link {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;

	&:hover {
		color: $white;
	}
}